<header>
    <div class="logo">
        <a href="index.html" class="logo-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO4vEIxMnntgEXmOWjPhWn_mDd6Z_rlxLb9A&s" alt="logo gamer">
        </a>
    </div>

    <ul class="enlaces">
        <li class="enlace">
            <a href="/dashboard/index">
                <span>VER</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/consultar">
                <span>CONSULTAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/crear">
                <span>CREAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/modificar">
                <span>MODIFICAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/eliminar">
                <span>ELIMINAR</span>
            </a>
        </li>
    </ul>
</header>