<%- include("partials/head.ejs") %>

<h2><%= about %></h2>

<!-- ====================================================
    Enviando formularios de manera nativa con HTML
=========================================================

en action="" mandamos la url del endpoint /login

en method="" determinamos si enviamos con GET o con POST la informacion

Gracias al middleware

    app.use(express.urlencoded({
        extended: true
    }));

Nuestro endpoint recibira esta informacion (No JSON) como objetos JS
Es decir, el middleware parseara automaticamente el tipo de info que envia el <form>

-->

<form id="loginForm" class="form-alta" action="/login" method="POST">

    <!-- TO DO, introducir campos REGEX para validar los datos que enviamos -->
    <label for="emailUser">Email</label>
    <input type="email" name="email" id="emailUser" required>

    <label for="passwordUser">Password</label>
    <input type="password" name="password" id="passwordUser" required>

    <div>
        <input type="submit" value="Login">
    </div>

    <button type="button" id="btn-test" class="btn-test">Rellenar Testing</button>
</form>

    <% if (typeof error !== "undefined") { %>
        <div class="error-message">
            <%= error %>
        </div>
    <% } %>

<script src="/js/login.js"></script>
<%- include("partials/head.ejs") %>